/* Стили для раздела "Отзывы и рейтинг" */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Цвет фона страницы */
}

h2 {
    color: #333;
    text-align: center;
    padding: 20px;
    background-color: #fff; /* Цвет фона заголовка */
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Цвет фона формы */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #008CBA; /* Цвет кнопки "Оставить отзыв" */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #00568C; /* Измененный цвет при наведении */
}

h3 {
    color: #333;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #666;
}

/* Дополнительные стили для отзывов */
.review-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Цвет фона контейнера отзыва */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating {
    color: #e44d26;
    font-size: 18px;
}
